<div>
    <h2>Hola te escibimos para inforte que tu producto con la descripción: {{productDescription}} ha sido eliminado 
    exitosamente de nuestra base de datos </h2>
    <h3>Saludos, E-commerceCoderBack</h3>
</div>