
<div>
    <h1 style="color: blue;">Ingresa al enlace para restaurar tu contraseña:</h1>

    <button> <a href="http://localhost:8080/newPswRestore?token={{restoreToken}}">Restablecer constraseña</a> </button>
</div>